BASE_URL=https://www.saucedemo.com/
API_BASE_URL=https://dummyjson.com
TEST_USERNAME=your_username
TEST_PASSWORD=your_password
BOOKER_UI_BASE_URL=https://automationintesting.online
BOOKER_API_BASE_URL=https://automationintesting.online